*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/* =========================
   Scrollbar (WebKit)
   Chrome, Edge, Safari
========================= */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: $bg-light;
}

::-webkit-scrollbar-thumb {
  background-color: $bg-primary;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $bg-secondary;
}
