@mixin flex{
    display: flex;
    align-items: center;
}
@mixin flex1($space-between){
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: $space-between;
}