@import 'variables';
@import 'global';
@import 'mixin';

section {
  @include flex;
  gap: 20px;

  .card.card--produto {
    background-color: $bg-primary;
    padding: 20px;
    width: 400px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 2px rgb(255, 188, 188);

    @include flex1(space-between);

    .oi-card {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: $text-light;
    }

    button {
      width: 100px;
      padding: 10px;
      border-radius: 5px;
      background-color: $bg-white;
      color: $text-primary;
      cursor: pointer;
    }
  }
}
