@import 'variables';
@import 'global';
@import 'mixin';

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 20px 40px;
  background-color: $bg-primary;

  &__logo {
    font-size: 24px;
    font-weight: bold;
    color: $text-light;
  }

  &__menu {
    display: flex;
    gap: 30px;

    a {
      text-decoration: none;
      font-weight: 500;
      color: $text-light;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: 200px 1fr;
  height: 100vh;

  .content {
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 40px;
    gap: 20px;
    .product {
      background-color: $bg-primary;
      padding: 20px;
      width: 400px;
      height: 200px;
      border-radius: 5px;
      box-shadow: 0px 0px 3px 2px rgb(255, 188, 188);

      @include flex1(space-between);

      .oi-card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: $text-light;
      }

      button {
        width: 150px;
        padding: 10px;
        border-radius: 5px;
        background-color: $bg-white;
        color: $text-primary;
        cursor: pointer;
      }
    }
  }

  aside {
    background-color: $bg-dark;
    display: flex;
    flex-direction: column;
    justify-content: top;
    padding: 20px;
    gap: 40px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    a {
      display: flex;
      color: $text-light;
    }
  }
}

footer {
  background-color: $bg-primary;
  padding: 10px;
  display: flex;
  justify-content: center;
  color: $text-light;
}
